body {
  background-color: #dfcad6;
}

h1 {
  font-size: larger;
  font-style: italic;
  font-stretch: wider;
}
  
  #slideshow {
  overflow: hidden;
  height: 350px;
  width: 1128px;
  margin-left:0%;
  margin-right: 0%  ;
  padding: bottom 0;
  }
  

  .slide {
  float: left;
  height: 510px;
  width: 728px;
  }
  
  .slide-wrapper {
  
  width: calc(728px * 4);
  
 
  animation: slide 8s ease infinite;
  }
  
  @keyframes slide {
  
  20% {
    margin-left: 0px;
  }
  
  40% {
    margin-left: calc(-528px * 1);
  }
  
  60% {
    margin-left: calc(-528px * 2);
  }
  
  80% {
    margin-left: calc(-528px * 3);
  }
}
address { 
  display: block;
  font-style: italic;
} 